@import "highlight.js/styles/github.css";       
@import "highlight.js/styles/atom-one-dark.css"; 
@import "highlight.js/styles/monokai.css";       
@import "highlight.js/styles/stackoverflow-dark.css";
@import "highlight.js/styles/github.css"; 
@import "katex/dist/katex.min.css";

* {
  /* color:#ececec; */
  font-family: Roboto,'Open-Sans','Helvetica Neue',sans-serif;
}

body{
  margin: 0;
  padding: 0;
}

.app{
  /* background-color: #212121; */
  display: flex;
}
